<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}" 
x-data="{darkMode: false}"
x-init="darkMode = JSON.parse(localStorage.getItem('darkMode'));
        $watch('darkMode', value => JSON.stringify(localStorage.setItem('darkMode', value)))"        
  :class="{'dark': darkMode === true}">
{{- partial "head.html" . -}}
  <body>
    <div class="content-wrapper">
        {{ partial "header/main.html" . }}
        {{ partial "sidebar/fixed.html" . }}
        <main class="article">
            {{ block "main" . }}{{ end }}
        </main>
        {{ partial "footer/main.html" . }}
    </div>
    {{ partial "sidebar/overlay.html" . }}
  </body> 
</html>
