{{ define "main" }}
<h2>Hello World</h2>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ea consequuntur natus beatae asperiores esse obcaecati animi non error debitis vero, iste, adipisci doloremque minima sed, quibusdam nam saepe eveniet.
Doloremque vel amet vero, quae illo reiciendis mollitia accusamus esse quasi nulla blanditiis eos, cumque alias porro officia, voluptatem fugit dolore nisi architecto quis nobis ut! Velit laborum quis dolor?
Tenetur esse similique neque. Magnam consequatur corrupti aut eveniet a porro distinctio ut harum minima nam sed ad, accusamus aspernatur cum magni nobis exercitationem soluta quia eaque possimus alias. Doloribus.
Ratione labore ullam dolor nihil non doloremque et enim beatae similique corporis aliquam, ad a? Unde, ut est distinctio rem laboriosam blanditiis ex recusandae eaque, nostrum dolore aperiam asperiores accusamus.
Aliquid provident ducimus magnam totam corporis natus dicta exercitationem aspernatur quo, recusandae hic expedita molestias ab esse, veritatis consectetur. Labore accusantium illum amet earum praesentium perferendis, velit commodi enim. Impedit?
{{ end }}